{% load static %}

<!-- External JavaScripts
============================================= -->
<script src="{% static 'js/jquery.js' %}"></script>
{% comment %} <script src="{% static 'js/plugins.js' %}"></script> {% endcomment %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<!-- Footer Scripts
============================================= -->
<script src="{% static 'js/functions.js' %}"></script>


<script src="{% static 'js/jquery.gmap.js' %}"></script>


<!--   Optional JS   -->
<script src="{% static 'js/chart.js'%}"></script>
<script src="{% static 'js/chart-utils.js'%}"></script>
